.font-face-karma-reg {
    font-family: "karma-regular";
  }

.main {
    display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 1500px; 
  margin: 0 auto; 
  box-sizing: border-box;
}

.header {
    box-shadow: 12px 12px #1E1E1E;
}

.navbar {
    margin-left: 3%;
    margin-right: 5%;
    font-family: "Karma";
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: 1px solid red */

}

.navbar h1 {
    font-family: "Karma";
    font-weight: 500;
    font-size: 2.7em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
    /* border: 1px solid red */
}

.navbar span {
    font-family: "Karma";
    font-weight: 700;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-bottom: 0.2rem;
    /* border: 1px solid red */
    
}

.navbar li {
    font-family: "Karma";
    font-weight: 400;
    font-size: 1.5em;
    color: #1E1E1E;
    cursor: pointer;
    position: relative;
}


#login-link {
    position: relative;
    color: #1E1E1E;
    transition: 0.2s;
}

#login-link::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -10px; 
    right: -10px;
    bottom: -6px;
    background-color: #C9BEEC;
    z-index: -1; 
    border-radius: 35px; 
}

#login-link:hover {
    transform: scale(1.1); 
}


.white-underline-transition::after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0%;
    height: 2px; 
    left: 50%; 
    background-color: #EBEBEB; 
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.white-underline-transition:hover::after {
    width: 100%;
}

#nav-underline {
    display: flex;
    justify-content: center;
    height: 2px;
    width: auto;
    margin: 0 3% 0 3%;
    background-color: #1E1E1E;
    
}

.loading-container {
    margin: 10%;
    display: flex;
    justify-content: center;
    font-family: "Karma";
    font-weight: 400;
    font-size: 1.3em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
}


#articles-list {
    list-style: none;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 30px;
}

#article-card-container {
    display: flex;
    flex-direction: column;
    background-color: #D0CFD0;
    border-radius: 40px;
    width: 400px;
    height: 300px;
    box-shadow: 12px 14px #EBEBEB;
}

#article-card-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.2s, box-shadow 0.2s;
}

#article-card-title {
    font-family: "Karma";
    font-weight: 600;
    font-size: 2rem;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
    padding: 25px 25px 0px 25px;
}

#article-card-author-img-container{
    display: flex;
    justify-content: start;
}

#article-card-author {
    margin-left: 20px;
    margin-right: 10px;
    align-content: center;
    align-items: center;
    font-family: "Karma";
    font-weight: 400;
    font-size: 1.3em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
}

#article-card-author-img {
    align-items: center;
    border-radius: 50% 50%;
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-color: #EBEBEB;
  }

#read-more {
    margin-top: auto;
    margin-bottom: 20px;
    width: 140px;
    margin-left: 20px;
    border-radius: 35px;
    font-family: "Karma";
    font-weight: 400;
    font-size: 1.5em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
    padding: 12px;
    background-color: #C9BEEC;
}

.browseby-bar {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    border-radius: 35px;
    font-family: "Karma";
    font-weight: 400;
    font-size: 1.3em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
    padding: 12px;
    background-color: #EBEBEB;
    margin: 50px 200px 100px 200px
}

.browse-params-container {
    display: flex;
    column-gap: 50px;
}

.browseby-bar button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.individual-article-container {
    display: block;
    font-family: "Karma";
    margin: 3% 3% 6% 3%;
    border-radius: 40px;
    box-shadow: 12px 14px #EBEBEB;
    background-color: #D0CFD0;
    position: relative;
   
}

.ind-article-title-author-container {
    width: 70%;
    padding: 50px 0px 0px 50px;
}

.individual-article-title {
    font-weight: 500;
    font-size: 3em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
    /* border: 1px solid red */
}


#individual-article-author {
    font-weight: 600;
}

.author-container {
    font-size: 1.2rem;
    margin: 10px 0px 0px 5px;
    display: flex;
    gap: 8px;
    align-items: center;
}

#individual-article-author-img {
    align-items: center;
    border-radius: 50% 50%;
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #EBEBEB;
}

#individual-article-date {
    margin-left: 50px;
}


.like-bookmark-container {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30px; 
    right: 35px;
}

.like-icon-container,
.bookmark-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C9BEEC;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;

}

.vote-count-container{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
    right: 80px;
    border-radius: 40px;
    background-color: #EBEBEB;
    cursor: pointer;
    position: absolute;
    
}

.vote-count {
    font-size: 13pt;
    font-weight: 600;
    color: #1E1E1E;
    align-self: center;
    position: relative;
    right: 18px;
    top: 2px;
    z-index: 1;
}

.like-icon-container:hover,
.bookmark-icon-container:hover {
    transform: scale(1.1); 
}

.like-icon-container img,
.bookmark-icon-container img {
    width: 60%;
    height: 60%;
}

.individual-article-image-container {
    display: flex;
    justify-content: center;
}

#individual-article-image{
    margin: 3%;
    border-radius: 10px;
    object-fit: contain;
    background-color: #EBEBEB;
}

.individual-article-body-container {
    font-weight: 300;
    font-size: 1.4rem;
    padding: 5% 2% 5% 2%
}

.comments-container {
    display: block;
    font-family: "Karma";
    margin: 3% 3% 6% 3%;
    border-radius: 40px;
    box-shadow: 12px 14px #EBEBEB;
    background-color: #D0CFD0;
    position: relative;
    
}

.comments-title {
    padding: 50px 0px 0px 50px;
    font-weight: 500;
    font-size: 2.5em;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
}

#your-thoughts-container {
    position: relative;
    justify-self: center;
    padding: 0px 30px;
    height: 100px;
    width: 80%;
    display: flex;
    column-gap: 15px;
    justify-content: start;
    align-items: center;
    background-color: #D9D9D9;
}

#comments-main-user-avatar-img {
    border-radius: 50% 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: #EBEBEB;
}

#your-thoughts-input-container{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #EBEBEB;
    border-radius: 10px;
}

#comment-form {
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

#comment-input {
    margin: 3%;
    align-self: center;
    height: 80%;
    font-size: 16pt;
    background-color: inherit;
    width: 100%;
    border: none;
}

#comment-input:focus {
    outline: none;
}

#comment-send {
    margin: 10px;
    width: auto;
    border-radius: 35px;
    font-family: "Karma";
    font-weight: 400;
    font-size: 1.5em;
    align-self: center;
    color: #1E1E1E;
    line-height: 1;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: #C9BEEC;
    border: none;
    cursor: pointer;
}

#posted-comments-list{
    list-style-type: none;
    padding: 50px 50px 0px 50px;
    display: block;
    padding-bottom: 100px;
}

#comment-card-container{
    display: block;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 20px;
}

#comment-metadata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#comment-metadata-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

#comment-card-avatar-img{
    border-radius: 50% 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: #EBEBEB;
}

#comment-author-date-container{
    display: block;
}

#comment-body{
    font-size: 13pt;
}

.comment-buttons-container{
    display: flex;
    gap: 10px
}

/* .like-bookmark-container {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30px; 
    right: 35px;
} */

.comment-like-icon-container, .comment-delete-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #C9BEEC;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
}

.comment-like-icon-container:hover, .comment-delete-icon-container:hover {
    transform: scale(1.1); 
}

.comment-like-icon-container img {
    width: 60%;
    height: 60%;
}
.comment-delete-icon-container img {
    width: 40%;
    height: 40%;
}


#header-profile-image{
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: #EBEBEB;
}


#account-header-container{
    display: flex;
    gap: 10px;
}