@font-face {
    font-family: "Karma";
    src: url("../fonts/karma/Karma-Light.ttf") format("truetype");
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: "Karma";
    src: url("../fonts/karma/Karma-Regular.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: "Karma";
    src: url("../fonts/karma/Karma-Medium.ttf") format("truetype");
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: "Karma";
    src: url("../fonts/karma/Karma-SemiBold.ttf") format("truetype");
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: "Karma";
    src: url("../fonts/karma/Karma-Bold.ttf") format("truetype");
    font-weight: 700; 
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



:root {
    background-color: #D9D9D9;
  }
  


  
  
